<div id="container">
    <h1 id="titulo">{{titleCast}}</h1>

    <span id="link"><img id="imagem" src="assets/back.png"> Voltar ultimos lançamentos </span>

    <div id="box">
        <div id="img">
            <img id="imagem" src="{{urlImg}}">
        </div>
        <div id="title">
            <h4>{{subTittle}}</h4>
        </div>
        <div id="sub">
            <p>Descrição:</p>
        </div>
        <div id="texto">
            <p>{{description}}</p>
        </div>
        <div id="blog">PapoCast</div>
        <div id="data_cast">25 Fev 21</div>
        <div id="tempo_cast">4:27</div>
    </div>
</div>