<div id="container">
    <h1 id="todos">{{title_lista}}</h1>
    <table>
        <tr>
            <th colspan="2" >Papodcast</th>
            <th  class="coluna">APRESENTADO</th>
            <th  class="coluna">DATA</th>
            <th  class="coluna">Duração</th>
            <th></th>
        </tr>
        <tr onclick="card01()">
            <td><img src="assets/ti.png" alt="rumo" style="width: 36px; height: 36px;"></td>
            <td class="coluna">O rumo do Data Center no Brasil</td>
            <td class="coluna">PapoCast</td>
            <td class="coluna">16 Jan 21</td>
            <td class="coluna">24:26</td>
            <td class="coluna" > <a routerLink="/lista"><img src="assets/Vector.png" alt="vetor" ></a></td>
        </tr>
        <tr>
            <td><img src="assets/net.png" alt="rumo" style="width: 36px; height: 36px;"></td>
            <td class="coluna">Um bate papo sobre .NET</td>
            <td class="coluna">PapoCast</td>
            <td class="coluna">20 Fev 21</td>
            <td class="coluna">35:40</td>
            <td class="coluna"><img src="assets/Vector.png" alt="vetor"></td>
        </tr>
        <tr>
            <td><img src="assets/python.png" alt="rumo" style="width: 36px; height: 36px;"></td>
            <td class="coluna">Python : Por onde começar? </td>
            <td class="coluna">PapoCast</td>
            <td class="coluna">25 Fev 21</td>
            <td class="coluna">4:27</td>
            <td class="coluna"><img src="assets/Vector.png" alt="vetor"></td>
        </tr>
        <tr>
            <td><img src="assets/css.png" alt="rumo" style="width: 36px; height: 36px;"></td>
            <td class="coluna">Vale apena aprender CSS?</td>
            <td class="coluna">PapoCast</td>
            <td class="coluna">8 Mar 21</td>
            <td class="coluna">1:27:11</td>
            <td class="coluna"><img src="assets/Vector.png" alt="vetor"></td>
        </tr>
        <tr>
            <td><img src="assets/html.png" alt="rumo" style="width: 36px; height: 36px;"></td>
            <td class="coluna">Entenda o que é HTML</td>
            <td class="coluna">PapoCast</td>
            <td class="coluna">25 Mar 21</td>
            <td class="coluna">1:35:18</td>
            <td class="coluna"><img src="assets/Vector.png" alt="vetor"></td>
        </tr>
        <tr>
            <td><img src="assets/rest.png" alt="rumo" style="width: 36px; height: 36px;"></td>
            <td class="coluna">Um bate papo sobre REST e RESTful</td>
            <td class="coluna">PapoCast</td>
            <td class="coluna">6 Abr 21</td>
            <td class="coluna">135:18</td>
            <td class="coluna"><img src="assets/Vector.png" alt="vetor"></td>
        </tr>
    </table>
    
</div>