
<div class="box">
  <h1>Faça Login</h1>
  <form class="example-form">
    <mat-form-field class="E-mail" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="E-mail">
    </mat-form-field>
    <mat-form-field class="senha" appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Senha">
      <span id="visualizar">
        <img src="/assets/eye.png" alt="image">
      </span>
    </mat-form-field><br />

    <button mat-flat-button color="primary" id="login">Entrar</button><br />
    <div id="cadastro">
      <button mat-flat-button (click)="AbrirCadastro()">Faça seu cadastro
        <span id="cadastrar">
          <img src="/assets/seta.png" alt="image">
        </span>
      </button><br />
    </div>
  </form>
</div>
<div class="img">
  <img src="/assets/imagem.png" alt="image" style="margin-left: 30%;">
</div>
<div id="botton"></div>