<div id="container">
    <h1 id="titulo">{{title_cast}}</h1>

    <span id="link"><img id="imagem" src="assets/back.png" > Voltar ultimos lançamentos </span>

    <div id="box">
        <div id="img">
            <img id="imagem" src="assets/image 1.png" >
        </div>
        <div id="title">
            <h4>Um bate papo sobre REST e RESTful</h4>
        </div>
        <div id="sub">
            <p>Descrição:</p>
        </div>
        <div id="texto">
            <p>Você sabe o que é REST e RESTful? Sabe aonde precisamos ultilizar ele e como? 
                Tudo isso será explicado de forma clara e simples para que todos possam entender.</p>
        </div>
        <div id="blog">PapoCast</div>
        <div id="data_cast">25 Mar 21</div>
        <div id="tempo_cast">1:35:18</div>
    </div>
</div>




