#container{
    background-color: #fff;
}
#header{
    margin-top: 7px;
    margin-left: 250px;
}
table{
    width: 100%;
    padding-left: 35px;
    height: 570px;
    margin-top: 30px;
}
table td{
    padding-bottom: 30px;
}
table th{
    padding-bottom: 30px;
    text-align: left;
}
.coluna{
    padding-left: 30px;
}