#container {
    background-color: #fff;
    padding-top: 3%;
}

#header {
    margin-top: 7px;
    margin-left: 250px;
}

table {
    width: 58%;
    padding-left: 35px;
    height: 530px;
    margin-top: 30px;
    border-right: 1px solid black;
}

table td {
    padding-bottom: 15px;
}

table th {
    padding-bottom: 15px;
    text-align: left;
}

.coluna {
    padding-left: 30px;
}

#direita {
    float: right;
    margin-top: -38%;
}

.header {
    margin-top: -30px;
    padding-bottom: 30px;
    padding-left: 80px;
}
#link{
    padding-left: -40px;
    border: none;
    background-color: #fff;
}
