#container{
    background-color: #fff;
    margin-top: 0px;
}
table{
    margin-top: 20%;
    padding-bottom: 33.5%;
    padding-left: 50px;
    padding-right: 50px;
    width: 439px;
}
#lancamento{
    padding-top: 18%;
    text-align: center;
}