<div id="container">
    <h1 id="titulo">{{title_cast}}</h1>

    <span id="link"><img id="imagem" src="assets/back.png" > Voltar ultimos lançamentos </span>

    <div id="box">
        <div id="img">
            <img id="imagem" src="assets/css_g.png" >
        </div>
        <div id="title">
            <h4>Vale a pena aprender CSS?</h4>
        </div>
        <div id="sub">
            <p>Descrição:</p>
        </div>
        <div id="texto">
            <p>Há mil formas de te convencer que ainda vale muito a pena aprender CSS. Não é só porque 
                hoje existem frameworks e bibliotecas que devemos ignorar o CSS. É preciso entender os 
                conceitos dessa linguagem de estilo.</p>
        </div>
        <div id="blog">PapoCast</div>
        <div id="data_cast">8 Mar 21</div>
        <div id="tempo_cast">1:27:11</div>
    </div>
</div>




