<div id="container">
    <h1 id="titulo">{{title_cast}}</h1>

    <span id="link"><img id="imagem" src="assets/back.png" > Voltar ultimos lançamentos </span>

    <div id="box">
        <div id="img">
            <img id="imagem" src="assets/1.png" >
        </div>
        <div id="title">
            <h4>Um bate papo sobre .NET</h4>
        </div>
        <div id="sub">
            <p>Descrição:</p>
        </div>
        <div id="texto">
            <p>Os conceitos introdutórios do .NET, um framework da Microsoft para o desenvolvimento e 
                execução de aplicações, suas características e funcionamento, com visão prática de suas utilização.</p>
        </div>
        <div id="blog">PapoCast</div>
        <div id="data_cast">20 Fev 21</div>
        <div id="tempo_cast">35:40</div>
    </div>
</div>




