<div id="container">
    <h1 id="titulo">{{title_cast}}</h1>

    <span id="link"><img id="imagem" src="assets/back.png" > Voltar ultimos lançamentos </span>

    <div id="box">
        <div id="img">
            <img id="imagem" src="assets/rumo.png" >
        </div>
        <div id="title">
            <h4>O rumo do Data Center no Brasil</h4>
        </div>
        <div id="sub">
            <p>Descrição:</p>
        </div>
        <div id="texto">
            <p>A transformação digital é um dos motores da economia da América Latina e do Brasil. Estudo do 
                IDC Latin America publicado em 2020 indica que, até 2022, 40% do PIB da América Latina virá 
                de negócios digitais.</p>
        </div>
        <div id="blog">PapoCast</div>
        <div id="data_cast">16 Jan 21</div>
        <div id="tempo_cast">24:26</div>
    </div>
</div>




