<div id="container">
    <h1 id="titulo">{{title_cast}}</h1>

    <span id="link"><img id="imagem" src="assets/back.png" > Voltar ultimos lançamentos </span>

    <div id="box">
        <div id="img">
            <img id="imagem" src="assets/2.png" >
        </div>
        <div id="title">
            <h4>Python: Por onde começar? </h4>
        </div>
        <div id="sub">
            <p>Descrição:</p>
        </div>
        <div id="texto">
            <p>Uma introdução ao conhecimento e cotidiano dessa linguagem, com aprofundamento do básico ao
                 avançado, trazendo a visão prática da utilização da linguagem de forma simples e dinâmica .</p>
        </div>
        <div id="blog">PapoCast</div>
        <div id="data_cast">25 Fev 21</div>
        <div id="tempo_cast">4:27</div>
    </div>
</div>




